### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt so **we can't draw any hypothesis from our findings** in this homework.

The excerpt can be found at this link: <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv">https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv</a>

In [3]:
import pandas as pd

In [31]:
df = pd.read_csv("http://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")

In [33]:
## Run the code that resets the default display here to round the numbers, remove scientific notation, etc.

pd.options.display.float_format = '{:,.0f}'.format

In [35]:
## Run the code here to return all summary statistics in one go

df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,"1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000",999,413,998,38,147,1,77,20,"1,000",935
mean,"5,323,517,923","1,074",37,100,"952,351","964,704",0,"62,647",73,"509,317","16,864","938,579","33,246","71,710","10,000","111,150","33,143","62,025","912,983"
std,"2,362,640,834",94,17,0,"947,021","950,929",0,"75,173",74,"181,263","59,265","938,039","35,466","69,605",NaN,"198,886","47,648","73,473","854,059"
min,"1,001,567,103",101,24,100,"155,010","155,010",0,"3,386",2,"112,511",1,"155,010",567,"1,000","10,000","2,098",900,"3,386","101,211"
25%,"3,570,982,102","1,084",24,100,"453,308","463,935",0,"3,386",30,"423,175",1,"452,336","9,250","28,695","10,000","28,944","4,191","3,386","456,726"
50%,"5,124,373,556","1,084",24,100,"617,999","631,722",0,"56,102",48,"541,350",1,"616,318","20,276","50,222","10,000","50,295","14,629","56,102","623,037"
75%,"7,058,052,030","1,084",60,100,"1,024,391","1,035,338",0,"116,975",85,"621,760","12,460","1,013,201","50,138","91,491","10,000","100,000","35,946","116,975","1,010,828"
max,"9,993,717,000","1,084",60,100,"9,571,397","9,538,531",0,"524,612",500,"924,120","880,559","9,538,531","151,421","404,926","10,000","1,490,741","200,772","518,683","9,615,885"

In [37]:
## What is the sum of all the forgiven loans

df["ForgivenessAmount"].sum()

853638795.3599999

In [43]:
## What is the sum of all the forgiven loans
## format with dollar sign and thousands separators
## round to zero decimals

f"${df['ForgivenessAmount'].sum():,.0f}"

'$853,638,795'

In [47]:
## store in variable called total_loan_forgiven
total_loan_forgiven = f"${df['ForgivenessAmount'].sum():,.0f}"
total_loan_forgiven

'$853,638,795'

In [49]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts
df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median()

CurrentApprovalAmount   631,722
InitialApprovalAmount   617,999
ForgivenessAmount       623,037
dtype: float64

In [51]:
##  Return the above as a frame
df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median().to_frame("Median Loan Amount")

                       Median Loan Amount
CurrentApprovalAmount             631,722
InitialApprovalAmount             617,999
ForgivenessAmount                 623,037

In [53]:
## get the count, mean and median for CurrentApprovalAmount
df[["CurrentApprovalAmount"]].agg(["count", "mean", "median" ])

        CurrentApprovalAmount
count                   1,000
mean                  964,704
median                631,722

In [57]:
## automatically return a frame (without using to_frame()) for the count, mean and median for InitialApprovalAmount, CurrentApprovalAmount
target_stats = ["count", "mean", "median"]
df[["InitialApprovalAmount", "CurrentApprovalAmount"]].agg(target_stats)

        InitialApprovalAmount  CurrentApprovalAmount
count                   1,000                  1,000
mean                  952,351                964,704
median                617,999                631,722

In [ ]:
##CHALLENGE

In [5]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")

In [7]:
df_all = pd.concat([dfs, dfw], ignore_index=True)
df_all

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
271112,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
271113,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
271114,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271115,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [9]:
##1. How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?
dfs = dfs.dropna(subset=['Medal'])
dfs["Medal"].count()

34088

In [11]:
dfw = dfw.dropna(subset=['Medal'])
dfw["Medal"].count()

5695

In [17]:
dfs["Medal"].value_counts(normalize=True)*100

Medal
Gold      33.615935
Bronze    33.469256
Silver    32.914809
Name: proportion, dtype: float64

In [19]:
dfw["Medal"].value_counts(normalize=True)*100

Medal
Gold      33.590869
Silver    33.292362
Bronze    33.116769
Name: proportion, dtype: float64

In [23]:
##2. Top 10 count of gold medals by country
df_all_gold = df_all[df_all["Medal"] == "Gold"]

In [35]:
df_all_gold["NOC"].value_counts().head(10)

NOC
USA    2638
URS    1082
GER     745
GBR     678
ITA     575
FRA     501
SWE     479
CAN     463
HUN     432
GDR     397
Name: count, dtype: int64

In [ ]:
##3. Of these top 10, what percent of the gold medals do they have?

In [39]:
df_all_gold["NOC"].value_counts(normalize=True).head(10)*100

NOC
USA    19.727789
URS     8.091535
GER     5.571343
GBR     5.070296
ITA     4.300030
FRA     3.746635
SWE     3.582112
CAN     3.462459
HUN     3.230631
GDR     2.968890
Name: proportion, dtype: float64